/* styles.css */
body { 
	max-width:50%;
	min-width:500px;
}
article {
  background-color:#333;
  display:block; 
}
footer {
  clear:both;
}
blockquote { 
  clear:both;
  float:left;
  max-width:40%;
	min-width:200px;
  position:relative;
}
.bilbo {
  
}
.gollum { 
  float:right;
}
.prose { white-space:pre;}

